<h1>Orders in <%= @customer.first_name %> </h1>
<table>
<tr>
	<th>Order Details</th>
</tr>
<% for order in @orders %>
<tr>
	<td><% order.details %></td>
	<td><% link_to 'Show' customer_order_path(@customer, order) %></td>
	<td><% link_to 'Edit' edit_customer_order_path(@customer, order) %></td>
	<td><% link_to 'Destroy' customer_order_path(@customer, order), :confirm => %></td>
